@use '../mixins/mixins' as *;
@use '../mixins/config' as *;
@use '../common/var' as *;

@include b(tooltip-text) {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@include b(files-card) {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px 0;
  &.is-mobile-width {
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  @include e(info-item) {
    position: relative;
    @media (hover: hover) {
      &:hover {
        .#{$namespace}-files-card__close-icon {
          display: block;
        }
      }
    }
  }

  @include e(img-info) {
    position: relative;
    width: 61px;
    height: 61px;
    border: 1px solid var(--#{$namespace}-file-card-border-color);
    cursor: pointer;
    border-radius: 4px;
    @include m(img) {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
    @include m(progress) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      opacity: 0.7;
    }
    @include m(mark) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(17, 25, 37, 0.1);
      border-radius: 4px;
      z-index: 1;
    }
    @include m(error-overlay) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 0, 0, 0.1);
      border-radius: 4px;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      color: red;
      font-weight: bold;
      font-size: 15px;
      white-space: nowrap;
    }
  }

  @include e(file-info) {
    position: relative;
    display: flex;
    align-items: center;
    width: 184px;
    height: auto;
    min-height: 100%;
    padding: 10px 8px;
    border: 1px solid var(--#{$namespace}-file-card-border-color);
    border-radius: 8px;
    @include m(name) {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: 500;
      padding-left: 8px;
      flex: 1;
      width: 0;
      text-align: left;
      :deep(.error) {
        padding: 9px 0;
        opacity: 0;
      }
    }
    @include m(icon) {
      display: block;
      font-size: 26px;
      max-width: 30px;
      &.icon-ppt {
        color: red;
      }
      &.icon-doc,
      &.icon-docx {
        color: rgb(62, 138, 240);
      }
    }
    @include m(progress) {
      height: 18px;
      display: flex;
      align-items: center;
    }
    @include m(error-overlay) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 0, 0, 0.1);
      border-radius: 4px;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      color: red;
      font-weight: bold;
    }

    @include m(desc) {
      display: flex;
      gap: 8px;
      line-height: 18px;
      @include m(ext) {
        font-size: 12px;
        line-height: 18px;
        color: rgba(17, 25, 37, 0.45);
      }
    }
  }

  @include e(close-icon) {
    user-select: none;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: block;
    font-size: 20px;
    @media (hover: hover) {
      display: none;
    }
  }
}

@include b(progress) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  // 圆形进度条样式
  @include m(circle) {
    svg {
      transform: rotate(-90deg);
      width: 100%;
      height: 100%;
    }

    @include e(track) {
      opacity: 0.3;
      stroke: var(--#{$namespace}-close-icon-color);
    }

    @include e(path) {
      transform-origin: center;
    }

    @include e(info) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include e(text) {
      font-size: 12px;
      color: #606266;
    }
  }

  // 线性进度条样式
  @include m(line) {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    @include e(bar) {
      flex: 1;
      display: flex;
      align-items: center;
    }

    @include e(bar-outer) {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: var(--#{$namespace}-file-card-bar-outer-bg-color);
    }

    @include e(bar-inner) {
      height: 100%;
    }

    @include e(bar-text) {
      font-size: 12px;
      color: #606266;
      white-space: nowrap;
      min-width: 36px;
      text-align: right;
    }
  }
}
