// CSS3 var
@use './var' as *;
@use '../common/var.scss' as *;
@use '../mixins/mixins.scss' as *;
@use '../mixins/config.scss' as *;

html.dark {
  @include dark-style;
}

@include b(code-highlight) {
  &.#{$namespace}-dark {
    @include dark-style;
  }
}
