@use '../mixins/mixins' as *;
@use '../mixins/config' as *;
@use '../common/var' as *;

@include b(code-mermaid) {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: var(--#{$namespace}-border-radius-base);
  background-color: var(--#{$namespace}-content-bg-color);

  @include e(fullscreen) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    @include m(toolbar) {
      position: relative;
      height: 47px;
      background-color: var(--#{$namespace}-toolbar-bg-color);
      display: flex;
      align-items: center;
      box-shadow: 1px 1px 3px rgba(48, 48, 48, 0.1);
    }
    @include m(action-group) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include m(action-other) {
      display: flex;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%) scale(1.15);
      gap: 10px;
      &.is-mobile-width {
        left: 20px;
        right: 20px;
        padding: 0 20px;
        justify-content: space-between;
      }
    }
    @include m(left-action) {
      display: flex;
      gap: 10px;
    }
    @include m(right-action) {
      display: flex;
      gap: 10px;
    }
    @include m(action-download) {
      display: flex;
      align-items: center;
      font-size: 14px;
      padding: 0 5px;
      cursor: pointer;
      gap: 4px;
      border-radius: var(--#{$namespace}-border-radius-btn);

      @media (hover: hover) {
        &:hover {
          background-color: var(--#{$namespace}-copy-bg-color);
        }
      }

      .element-ai-vue-iconfont {
        font-size: 16px;
      }
    }
  }

  @include e(toolbar) {
    position: absolute;
    display: none;
    right: 10px;
    top: 10px;
    gap: 8px;
    padding: 6px;
    border-radius: var(--#{$namespace}-border-radius-base);
    background-color: var(--#{$namespace}-toolbar-bg-color);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;

    @include m(item) {
      min-width: 24px;
      height: 24px;
      padding: 0 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--#{$namespace}-border-radius-btn);
      white-space: nowrap;
      font-size: 14px;
      @media (hover: hover) {
        &:hover {
          background-color: var(--#{$namespace}-copy-bg-color);
        }
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      .#{$B}__toolbar {
        display: flex;
      }
    }
  }

  @media (hover: none) {
    .#{$B}__toolbar {
      display: flex;
    }
  }

  @include e(preview) {
    flex: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 378px;

    @include m(mermaid-svg-container) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: scale 0.1s ease-out;
      user-select: none;
      svg {
        width: 100% !important;
        height: 100% !important;
        max-width: none !important;
      }
    }
  }

  @include e(code) {
    flex: 1;
    overflow: auto;
    height: 378px;
    @include b(code-highlight) {
      min-height: 100%;
      margin: 0;
    }
  }
}
