@use '../mixins/mixins' as *;
@use '../mixins/config' as *;
@use '../common/var' as *;

@include b(thinking) {
  position: relative;
  width: 100%;
  border: 1px solid var(--#{$namespace}-thinking-border-color);
  border-radius: 12px;
  overflow: hidden;

  @include e(top) {
    padding: 7px 13px;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: space-between;
    &.is-expanded {
      width: min-content;
    }

    @include m(title) {
      font-size: 14px;
      font-weight: 600;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @include m(action) {
      width: 28px;
      height: 28px;
      border-radius: 8px;
      border: 1px solid var(--#{$namespace}-thinking-border-color);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @media (hover: hover) {
        &:hover {
          background-color: var(--#{$namespace}-copy-bg-color);
        }
      }
    }
  }
  @include e(content) {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
}
