@use '../mixins/config' as *;
@use '../mixins/mixins' as *;

@include b(tooltip) {
  display: inline-block;

  @include e(popper) {
    position: absolute;
    z-index: 2000;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 1.4;
    min-width: 10px;
    word-wrap: break-word;
    background-color: var(--el-ai-tooltip-bg-color);
    color: var(--el-ai-tooltip-text-color);
    border: 1px solid var(--el-ai-tooltip-border-color);
    border-radius: var(--#{$namespace}-border-radius-base, 4px);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  }

  @include e(content) {
    max-width: 300px;
  }

  @include e(arrow) {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #000;
    border: 1px solid var(--el-ai-tooltip-border-color);
    transform: rotate(45deg);
    z-index: -1;
    &[data-side='top'] {
      border-left: 1px solid #000;
      border-top: 1px solid #000;
    }

    &[data-side='bottom'] {
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
    }

    &[data-side='left'] {
      border-right: 1px solid #000;
      border-top: 1px solid #000;
    }

    &[data-side='right'] {
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
    }
  }
}

// Transition
.el-ai-tooltip-fade-enter-active,
.el-ai-tooltip-fade-leave-active {
  transition: opacity 0.2s ease;
}

.el-ai-tooltip-fade-enter-from,
.el-ai-tooltip-fade-leave-to {
  opacity: 0;
}
