@use '../mixins/mixins' as *;
@use '../mixins/config' as *;
@use '../common/var' as *;

@include b(drag-upload) {
  position: relative;
  width: 100%;
  height: 100%;
  @include e(content) {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  @include e(drop-mask) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(30px);
    padding: 60px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(30px);
      background-color: var(--#{$namespace}-drag--upload-mark-bg-color);
      z-index: -1;
    }

    @include e(drop-mask-border) {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include e(drop-content-first) {
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        color: #111925;
      }
    }
  }
}
