@use 'sass:map';
@use '../mixins/config' as *;

@mixin dark-style {
  --#{$namespace}-header-bg-color: rgba(255, 255, 255, 0.12);
  --#{$namespace}-content-bg-color: rgb(48, 48, 48);
  --#{$namespace}-color-border-secondary: #303133;
  --#{$namespace}-copy-bg-color: rgba(255, 255, 255, 0.12);
  --#{$namespace}-toolbar-bg-color: rgb(34, 34, 34);
}

:root {
  --#{$namespace}-border-radius-base: 6px;
  --#{$namespace}-border-radius-btn: 4px;

  --#{$namespace}-header-bg-color: rgba(0, 0, 0, 0.06);
  --#{$namespace}-content-bg-color: rgb(250, 250, 250);
  --#{$namespace}-color-border-secondary: #f0f0f0;
  --#{$namespace}-copy-bg-color: rgba(0, 0, 0, 0.1);
  --#{$namespace}-toolbar-bg-color: #fff;
}
