@use '../mixins/mixins' as *;
@use '../mixins/config' as *;
@use '../common/var' as *;

@include b(word) {
  &.ProseMirror-focused {
    outline: none;
  }

  p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    position: absolute;
    color: #adb5bd;
    pointer-events: none;
    font-size: 16px;
    line-height: 24px;
  }
}
